.part_div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.part_title {
  display: inline-block;
  width: 180px;
  font-size: 20px;
  color: black;
  font-weight: bolder;
}
.part_create {
  font-size: 15px;
}
.part_bom_title {
  font-size: 18px;
  color: black;
  font-weight: bolder;
  margin: 20px;
}
.part_bom_button {
  display: flex;
  width: 80%;
  margin: 20px;
}
